<!--
<table class="table table-hover text-center">
  <thead>
    <tr>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
    <tr *ngFor="let user of users$ | async">
      <td>{{user.firstName}}</td>
      <td>{{user.lastName}}</td>
      <td>{{user.email}}</td>
      <td></td>
    </tr>
  </thead>
</table>
-->
<div>
  <mat-form-field>
    <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Szukaj">
  </mat-form-field>
</div>
<div class="table-responsive px-2 mx-auto" >
  <table mat-table [dataSource]="dataSource" matSort class="table-responsive table-striped mat-elevation-z10">
    <ng-component matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Imię</th>
      <td mat-cell *matCellDef="let row">{{row.firstName}}</td>
    </ng-component>

    <ng-component matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwisko</th>
      <td mat-cell *matCellDef="let row">{{row.lastName}}</td>
    </ng-component>

    <ng-component matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</th>
      <td mat-cell *matCellDef="let row">{{row.email}}</td>
    </ng-component>

    <ng-component matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
      <td mat-cell *matCellDef="let row">{{row.userName}}</td>
    </ng-component>

    <tr mat-header-row *matHeaderRowDef="columnHeaders"></tr>
    <tr mat-row *matRowDef="let row; columns: columnHeaders;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 50]"></mat-paginator>
</div>
