<div class="container rounded bg-white mb-5">
  <form [formGroup]="userData" (ngSubmit)="onSubmit()">
    <div class="row">
    <!--    <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="../../../assets/img/admin.svg"><span class="font-weight-bold">{{inFirstName.value + ' ' + inLastName.value}}</span><span class="text-black-50">{{inEmail.value}}</span><span> </span></div>
      </div>-->
      <div class="col-md-8 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Create new user</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-4">
              <div class="form-floating">
                <input type="text" class="form-control" [class.is-invalid]="submitted && field.firstName.invalid && field.firstName.touched" id="firstName" formControlName="firstName" placeholder="First name" value="" #inFirstName autocomplete="given-name">
                <label for="firstName">First name</label>
              </div>
              <div class="mb-3">
                <div *ngIf="submitted && field.firstName.invalid && field.firstName.touched" class="text-danger small">
                  <div *ngIf="field.firstName.errors.required">First name is required</div>
                  <div *ngIf="field.firstName.errors.minlength">First name must be at least 3 characters long</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <input type="text" class="form-control" [class.is-invalid]="submitted && field.lastName.invalid && field.lastName.touched" id="lastName" formControlName="lastName" value="" placeholder="Last name" #inLastName autocomplete="family-name">
                <label for="lastName">Last name</label>
              </div>
              <div class="mb-3">
                <div *ngIf="submitted && field.lastName.invalid && field.lastName.touched" class="text-danger small">
                  <div *ngIf="field.lastName.errors.required">Last name is required</div>
                  <div *ngIf="field.lastName.errors.minlength">Last name must be at least 3 characters long</div>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <input type="text" class="form-control" [class.is-invalid]="submitted && field.userName.invalid && field.userName.touched" id="userName"  formControlName="userName" value="" placeholder="User name" autocomplete="username">
                <label for="userName">User name</label>
              </div>
              <div class="mb-3">
                <div *ngIf="submitted && field.userName.invalid && field.userName.touched" class="text-danger small">
                  <div *ngIf="field.userName.errors.required">User name is required</div>
                  <div *ngIf="field.userName.errors.minlength">User name must be at least 3 characters long</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" placeholder="Phone number" value="" autocomplete="tel-local">
                <label for="phoneNumber">Phone number</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input type="email" class="form-control" id="email" [class.is-invalid]="submitted && field.email.invalid && field.email.touched" formControlName="email" placeholder="E-mail" value="" #inEmail autocomplete="email">
                <label for="email">E-mail</label>
              </div>
              <div class="mb-3">
                <div *ngIf="submitted && field.email.invalid && field.email.touched" class="text-danger small">
                  <div *ngIf="field.email.errors.required">E-mail is required</div>
                  <div *ngIf="field.email.errors.email">E-mail is not valid</div>
                </div>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <div class="form-floating">
                <input type="password" class="form-control" [class.is-invalid]="submitted && field.newPassword.invalid && field.newPassword.touched" id="newPassword" formControlName="newPassword" placeholder="Password" value="" autocomplete="new-password">
                <label for="newPassword">Password</label>
              </div>
              <div *ngIf="submitted && field.newPassword.invalid && field.newPassword.touched" class="text-danger small">
                <div *ngIf="field.newPassword.errors.required">You must provide the password</div>
                <div *ngIf="field.newPassword.errors.minlength">The password must be at least 8 characters long</div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input type="password" class="form-control" [class.is-invalid]="submitted && field.repeatPassword.invalid && field.repeatPassword.touched" id="repeatPassword" formControlName="repeatPassword" placeholder="Password" value="" autocomplete="new-password">
                <label for="repeatPassword">Repeat password</label>
              </div>
              <div *ngIf="submitted && field.repeatPassword.invalid && field.repeatPassword.touched" class="text-danger small">
                <div *ngIf="field.repeatPassword.errors.required">You must repeat the password</div>
                <div *ngIf="field.repeatPassword.errors.compare">Provided passwords are not equal</div>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <div class="form-floating">
                <input type="number" class="form-control" id="debt" formControlName="debt" value="" placeholder="Debt">
                <label for="debt">Debt</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <select class="custom-select form-control" id="fund" [class.is-invalid]="submitted && field.fundId.invalid && field.fundId.touched" formControlName="fundId">
                  <option selected>Choose ...</option>
                  <option *ngFor="let item of funds | async" [value]="item.fundId">
                    {{item.value}}
                  </option>
                </select>
                <label for="fund">Fund</label>
              </div>
              <div *ngIf="submitted && field.fundId.invalid && field.fundId.touched" class="text-danger small">
                <div *ngIf="field.fundId.errors.required">You must select a fund</div>
              </div>
            </div>
          </div>
          <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" (click)="onSubmit()">Submit</button></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-3 py-5">
          <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center experience"><span>Profile description</span></div><br>
            <div class="form-floating">
              <textarea class="form-control" id="info" formControlName="info" name="info" rows="12" placeholder="Write something about ..." style="height: 25vh"></textarea>
              <label for="info">Write something about ...</label>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
