<div class="container rounded bg-white mb-5">
  <form [formGroup]="userData" (ngSubmit)="onSubmit()">
    <div class="row">
    <!--    <div class="col-md-3 border-right">
        <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="../../../assets/img/admin.svg"><span class="font-weight-bold">{{inFirstName.value + ' ' + inLastName.value}}</span><span class="text-black-50">{{inEmail.value}}</span><span> </span></div>
      </div>-->
      <div class="col-md-8 border-right">
        <div class="p-3 py-5">
          <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="text-right">Create new user</h4>
          </div>
          <div class="row mt-2">
            <div class="col-md-4">
              <div class="form-floating">
                <input type="text" class="form-control" id="firstName" formControlName="firstName" placeholder="First name" value="" #inFirstName autocomplete="given-name">
                <label for="firstName">First name</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <input type="text" class="form-control is-valid" id="lastName" formControlName="lastName" value="" placeholder="Last name" #inLastName autocomplete="family-name">
                <label for="lastName">Last name</label>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-floating">
                <input type="text" class="form-control is-invalid" id="userName"  formControlName="userName" value="" placeholder="User name" autocomplete="username">
                <label for="userName">User name</label>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="phoneNumber" formControlName="phoneNumber" placeholder="Phone number" value="" autocomplete="tel-local">
                <label for="phoneNumber">Phone number</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input type="text" class="form-control" id="email" formControlName="email" placeholder="E-mail" value="" #inEmail autocomplete="email">
                <label for="email">E-mail</label>
              </div>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-md-6">
              <div class="form-floating">
                <input type="password" class="form-control" id="newPassword" formControlName="newPassword" placeholder="Password" value="" autocomplete="new-password">
                <label for="newPassword">Password</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <input type="password" class="form-control" id="repeatPassword" formControlName="repeatPassword" placeholder="Password" value="" autocomplete="new-password">
                <label for="repeatPassword">Repeat password</label>
              </div>
            </div>
          </div>

          <div class="row mt-3">
            <div class="col-md-6">
              <div class="form-floating">
                <input type="number" class="form-control" id="debt" formControlName="debt" value="" placeholder="Debt">
                <label for="debt">Debt</label>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-floating">
                <select class="custom-select form-control" id="fund">
                  <option selected>Choose ...</option>
                  <option value="1">10</option>
                  <option value="2">30</option>
                </select>
                <label for="fund">Fund</label>
              </div>
            </div>
          </div>
          <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button" (click)="onSubmit()">Submit</button></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="p-3 py-5">
          <div class="col-md-12">
            <div class="d-flex justify-content-between align-items-center experience"><span>Profile description</span></div><br>
            <div class="form-floating">
              <textarea class="form-control" id="info" formControlName="info" name="info" rows="12" placeholder="Write something about ..." style="height: 25vh"></textarea>
              <label for="info">Write something about ...</label>
            </div>
          </div>
        </div>
      </div>

    </div>
  </form>
</div>
