table {
  width: 100%;
}

.mat-column-receivables {
  text-align: right;
}

.mat-header-cell {
  font-size: 1em;
  color: #fff;
  background-color: rgb(3, 130, 17);
  text-align: center;
  padding: 0 5px 0 5px;
  white-space: nowrap;
}

.mat-cell {
  padding: 0 5px 0 5px;
}

::ng-deep .mat-sort-header-arrow {
  color: #aeef9b !important;
}
