<!--  <div *ngIf="supplier | async as sup">-->
<div>

  <mat-card >
    <div *ngIf="isAddMode">
      <mat-card-title>Dodaj nowego dostawcę</mat-card-title>
    </div>
    <div *ngIf="supplier | async as sup" >
      <mat-card-title>Edytuj dostawcę {{sup.supplierName}}</mat-card-title>
    </div>

    <div>
      <form [formGroup]="supplierData" autocomplete="off" novalidate (ngSubmit)="onSubmit()">
        <mat-card-content>
          <mat-form-field>
            <input matInput type="text" placeholder="Skrót" formControlName="supplierAbbr" id="supplierAbbr" required>
            <!--          <mat-hint align="end">Not more then 60 characters long.</mat-hint>-->
            <mat-error *ngIf="hasError('supplierAbbr', 'required')">Skrót musi być</mat-error>
            <mat-error *ngIf="hasError('supplierAbbr', 'maxlength')">Min. 3 znaki</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Nazwa" formControlName="supplierName" id="supplierName" required>
            <!--          <mat-hint align="end">Not more then 60 characters long.</mat-hint>-->
            <mat-error *ngIf="hasError('supplierName', 'required')">Nazwa musi być</mat-error>
            <mat-error *ngIf="hasError('supplierName', 'maxlength')">Min. 3 znaki</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Numer telefonu" formControlName="phone" id="phone" required>
            <mat-error *ngIf="hasError('phone', 'required')">Telefon musi być</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Email" formControlName="email" id="email" required>
            <mat-error *ngIf="hasError('email', 'required')">Email musi być</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="number" placeholder="Stan konta" formControlName="receivables" id="receivables">
            <span matSuffix>zł</span>
          </mat-form-field>
          <mat-form-field>
            <textarea matInput placeholder="Opis" formControlName="description" id="description"></textarea>
          </mat-form-field>

          <mat-form-field>
            <mat-label>OpRo</mat-label>
            <mat-select formControlName="oproFullName" id="oproFullName" required>
              <mat-option value="" disabled>-</mat-option>
              <mat-option *ngFor="let coop of coopNames | async" [value]="coop.fullName">
                {{coop.fullName}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-checkbox formControlName="available" id="available">Dostępny</mat-checkbox>
          <mat-checkbox formControlName="blocked" id="blocked">Zablokowany</mat-checkbox>



          <mat-form-field>
            <input matInput [matDatepicker]="picker" placeholder="Data zamknięcia formularza" required formControlName="orderClosingDate" id="orderClosingDate"
                   readonly (click)="picker.open()">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>

        </mat-card-content>
        <mat-card-actions align="center">
          <button mat-raised-button color="primary" [disabled]="!supplierData.valid">Zapisz</button>
          <!--        <button type="button"> mat-raised-button color="warn" (click)="onCancel()">Cancel</button>-->
        </mat-card-actions>
      </form>
    </div>

  </mat-card>
</div>
