<!--<div *ngIf="supplier | async as sup">-->
  <h2 class="text-md-center px-2 txt-shadow">Informacje o dostawcy</h2>


<!--  <div class="table-responsive-sm px-2">-->
<!--    <div>-->
<!--      <p>Skrót</p>-->
<!--      <p>{{sup.supplierAbbr}}</p>-->
<!--    </div>-->
<!--    <div>-->
<!--      <p>Nazwa</p>-->
<!--      <p>{{sup.supplierName}}</p>-->
<!--    </div>-->
<!--    <div>-->
<!--      <p>Numer telefonu</p>-->
<!--      <p>{{sup.phone}}</p>-->
<!--    </div>-->
<!--    <div>-->
<!--      <p>Email</p>-->
<!--      <p>{{sup.email}}</p>-->
<!--    </div>-->
<!--    <div>-->
<!--      <p>Opis</p>-->
<!--      <p>{{sup.description}}</p>-->
<!--    </div>-->
<!--    <div>-->
<!--      <p>OpRo</p>-->
<!--      <p>{{sup.oproFullName}}</p>-->
<!--    </div>-->
<!--    <div>-->
<!--      <p>Dostępny</p>-->
<!--      <mat-checkbox [checked]="sup.available" disabled></mat-checkbox>-->
<!--    </div>-->
<!--    <div>-->
<!--      <p>Zablokowany</p>-->
<!--      <mat-checkbox [checked]="sup.blocked" disabled></mat-checkbox>-->
<!--    </div>-->
<!--    <div>-->
<!--      <p>Data zamknięcia formularza</p>-->
<!--      <p>{{sup.orderClosingDate | date}}</p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->



<div class="table-responsive-sm px-2">
  <table mat-table [dataSource]="dataSource" class="table-striped mat-elevation-z10">
    <ng-component matColumnDef="supplierAbbr">
      <th mat-header-cell *matHeaderCellDef>Skrót</th>
      <td mat-cell *matCellDef="let element"> {{element.supplierAbbr}}</td>
    </ng-component>
    <ng-component matColumnDef="supplierName">
      <th mat-header-cell *matHeaderCellDef>Nazwa</th>
      <td mat-cell *matCellDef="let element">{{element.supplierName}}</td>
    </ng-component>
    <ng-component matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>Email</th>
      <td mat-cell *matCellDef="let element">{{element.email}}</td>
    </ng-component>
    <ng-component matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef>Nr telefonu</th>
      <td mat-cell *matCellDef="let element">{{element.phone}}</td>
    </ng-component>
    <ng-component matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef>Opis</th>
      <td mat-cell *matCellDef="let element">{{element.description}}</td>
    </ng-component>
    <ng-component matColumnDef="oproFullName">
      <th mat-header-cell *matHeaderCellDef>OpRo</th>
      <td mat-cell *matCellDef="let element">{{element.oproFullName}}</td>
    </ng-component>
    <ng-component matColumnDef="available">
      <th mat-header-cell *matHeaderCellDef>Dostępny</th>
      <td mat-cell *matCellDef="let element"><input type='checkbox' disabled [(ngModel)]="element.available"></td>
    </ng-component>
    <ng-component matColumnDef="blocked">
      <th mat-header-cell *matHeaderCellDef>Zablokowany</th>
      <td mat-cell *matCellDef="let element"><input type='checkbox' disabled [(ngModel)]="element.blocked"></td>
    </ng-component>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>



<div>
  <button mat-raised-button class="btn btn-primary profile-button" routerLink="../../home" routerLinkActive="activebutton">Zobacz produkty dostawcy</button>
<!--  TODO: link do all supplier's products-->
  <button mat-raised-button class="btn btn-primary profile-button next-btn" routerLink="/allsuppliers" routerLinkActive="activebutton">Zobacz wszystkich dostawców</button>
</div>

