<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-3 border-right">
      <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" src="assets/img/user.svg"><span class="font-weight-bold">{{inFirstName.value + ' ' + inLastName.value}}</span><span class="text-black-50">{{inEmail.value}}</span><span> </span></div>
    </div>
    <div class="col-md-5 border-right">
      <div class="p-3 py-5">
        <div class="d-flex justify-content-between align-items-center mb-3">
          <h4 class="text-right">Profile Settings</h4>
        </div>
        <div class="row mt-2">
          <div class="col-md-4"><label class="labels">First name</label><input type="text" class="form-control" placeholder="First name" value="" #inFirstName></div>
          <div class="col-md-4"><label class="labels">Last name</label><input type="text" class="form-control" value="" placeholder="Last name" #inLastName></div>
          <div class="col-md-4"><label class="labels">User name</label><input type="text" class="form-control" value="" placeholder="User name"></div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6"><label class="labels">Phone number</label><input type="text" class="form-control" placeholder="Phone number" value=""></div>
          <div class="col-md-6"><label class="labels">E-mail</label><input type="text" class="form-control" placeholder="E-mail" value="" #inEmail></div>
        </div>
        <div class="row mt-2">
          <div class="col-md-6"><label class="labels">Password</label><input type="password" class="form-control" placeholder="Password" value=""></div>
          <div class="col-md-6"><label class="labels">Repeat password</label><input type="password" class="form-control" placeholder="Password" value=""></div>
        </div>

        <div class="row mt-3">
          <div class="col-md-6"><label class="labels">Debt</label><input type="number" class="form-control" value="" placeholder="Debt"></div>
          <div class="col-md-6"><label class="labels">Fund</label>
            <select class="custom-select">
              <option selected>Choose ...</option>
              <option value="1">10</option>
              <option value="2">30</option>
            </select>
          </div>
        </div>
        <div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">Save Profile</button></div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="p-3 py-5">
        <div class="col-md-12">
          <div class="d-flex justify-content-between align-items-center experience"><span>Profile description</span></div><br>
          <textarea class="form-control" name="info" rows="12" placeholder="Write something about ..."></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
