<mat-toolbar class="navi-bar">
  <div>
    <a [routerLink]="[urls.getHome]" class="logo-link">Koop</a>
  </div>
  <span class="navi-bar-spacer"></span>
  <div fxFlex fxLayout fxLayoutAlign="end" fxHide.xs>
    <ul fxLayout fxLayoutGap="15px" class="navigation-items">
      <li><button mat-button [routerLink]="[urls.getUnits]" class="top-link">Units</button></li>
      <li *ngIf="visibility.set([role.ADMIN, role.OPRO, role.PACZKERS])">
      <li><a [routerLink]="['units']" class="top-link">Units</a></li>
      <li><a [routerLink]="['allsuppliers']" class="top-link">Suppliers</a></li>
      <li><a [routerLink]="['orders/all']" class="top-link">Orders</a></li>
      <li>
        <app-report-dropdown-menu></app-report-dropdown-menu>
      </li>
      <li><button mat-button [routerLink]="[urls.admin]" class="top-link">Admin</button></li>
      <li><button mat-button  [routerLink]="[urls.getLogin]" class="top-link"
              (click)="LoginAction()">{{(isTokenExpired() ? 'login' : 'logout') | titlecase}}</button></li>
    </ul>
  </div>
    <app-basket-icon></app-basket-icon>
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>
