button.top-link:visited  {
  text-decoration: none;
  color: #fff;
  font-size: 1em;
}

button.top-link:hover, button.top-link:active{
  color: rgb(178, 253, 103);
}

.mat-button {
  font-size: 0.8em;
}

a.logo-link:link, a.logo-link:visited, a.logo-link:hover, a.logo-link:active {
  text-decoration: none;
  color: #fff;
  font-size: 1.4em;
}

.navi-bar-spacer {
  flex: 1 1 auto;
}

.navi-bar {
  background-color: rgb(3, 130, 17);
  color: #fff;
  max-width: 100%;
  margin: auto;
}

.navigation-items {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@media (max-width: 959px) {
  mat-toolbar {
    border-radius: 0px;
  }
}
