.login-container {
  height: 50vh;
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji;
}

label {
  display: inline-block;
  font-weight: 600;
  width: 100%;
  text-align: left;
  font-size: 0.9em;
}

#password-forget {
  display: inline-block;
  width: 50%;
  text-align: right;
  font-size: 0.9em;
}

input {
  line-height: 15px;
  font-size: 14px;
  border-radius: 6px;
}

input:focus {
  border-color: #079500;
  box-shadow: none;
}

.btn {
  border-radius: 6px;
  border: none;
  background-color: #2c974b;
  transition: background-color .5s;
  font-size: 0.9em;
}

.btn:hover {
  background-color: #22763a;
}

.form-container {
  display: inline-block;
  background-color: #eeeef1;
  border-radius: 6px;
  width: 400px;
  padding: 20px;
}

.login-form-label {
  font-size: 24px;
  font-weight: 300;
  letter-spacing: -.5px;
}

.alert {

}
