<div class="album py-5 bg-light">
  <div class="container">
    <div class="row">
      <div *ngFor="let category of categories | async" class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top" alt="Thumbnail [100%x225]" src="../../assets/img/{{category.categoryId}}.jpg" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">
          <div class="card-body">
            <p class="card-text">
              {{category.categoryName}}
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a [title]="category.categoryName" [routerLink]="['/product', category.categoryId]">
                  <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
