<h2 class="text-center px-2 txt-shadow">Kategorie</h2>
<div *ngIf="info !== undefined" class="text-center w-100 text-danger mt-5">
  Nie wprowadzono żadnej kategorii dla produktu.<br>
  {{info.info}}
</div>
<div *ngIf="problem !== undefined" class="text-center w-100 text-danger mt-5">
  {{problem}}
</div>
<div *ngIf="categories !== undefined" fxLayout="row nowrap" fxLayoutAlign="end center">
  <span class="fw-bold">Dodaj kategorię</span>
  <button mat-icon-button
          (click)="openCategoryAddDialog()" class="add-button">
    <mat-icon>add_box</mat-icon>
  </button>
</div>
<div [hidden]="categories === undefined">
  <div class="table-responsive px-1 pt-1">
    <table mat-table [dataSource]="dataSource" matSort class="table-striped mat-elevation-z10">
      <ng-component matColumnDef="categoryId">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>ID kategorii</th>
        <td mat-cell *matCellDef="let element">{{element.categoryId}}</td>
      </ng-component>
      <ng-component matColumnDef="categoryName">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Nazwa<br>kategorii</th>
        <td mat-cell *matCellDef="let element">{{element.categoryName}}</td>
      </ng-component>
      <ng-component matColumnDef="picture">
        <th mat-header-cell *matHeaderCellDef>Obrazek</th>
        <td mat-cell *matCellDef="let element">
          <img [src]="(element.picture === null || element.picture === '') ? emptyImage : domain + element.picture" alt="Category thumbnail" style="height: 47px">
        </td>
      </ng-component>
      <ng-component matColumnDef="actionButtons">
        <th mat-header-cell *matHeaderCellDef>Akcja</th>
        <td mat-cell *matCellDef="let element">
          <span class="text-nowrap">
          <button mat-icon-button
                  (click)="openUploadImgDialog(element.categoryId, element.picture)"
                  matTooltip="{{element.picture?.length === 0 || element.picture === null ? 'Dodaj obrazek' : 'Edytuj obrazek'}}"
                  matTooltipClass="tooltip-green"
                  [matTooltipPosition]="'before'"
                  class="add-picture-button">
            <mat-icon *ngIf="element.picture?.length === 0 || element.picture === null">add_photo_alternate</mat-icon>
            <mat-icon *ngIf="element.picture?.length > 0">photo</mat-icon>
          </button>
          <button mat-icon-button
                  (click)="openCategoryEditDialog(
                  element.categoryId,
                  element.categoryName,
                  element.picture)"
                  matTooltip="Edytuj"
                  matTooltipClass="tooltip-green"
                  [matTooltipPosition]="'before'"
                  class="edit-button">
            <mat-icon>edit</mat-icon>
          </button>
          </span>
        </td>
      </ng-component>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <div class="mx-auto px-2 mat-elevation-z10">
    <mat-paginator [pageSizeOptions]="itemsPerPage"></mat-paginator>
  </div>
</div>
