<h1 mat-dialog-title>Dodaj obrazek</h1>
<div mat-dialog-content>
  <mat-divider></mat-divider>
  <div class="text-center pt-2 pb-2">
    <input type="file" accept="image/*" #file placeholder="Choose file"
           (change)="uploadImg(data.categoryId.toString(), data.picture, file.files)"
           style="display:none;">
    <span class="upload" *ngIf="progress > 0 && progress < 99.99">
        {{progress}}%
      </span>
    <span class="upload" *ngIf="message">
        {{message}}
      </span>
  </div>
  <mat-divider></mat-divider>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button mat-dialog-close class="cancel-button">Anuluj</button>
  <button mat-raised-button (click)="file.click()" [disabled]="isDisabled" color="warn">Wybierz</button>
</div>
