.cancel-button, .cancel-button:hover {
  background: rgb(3, 130, 17);
  color: #fff;
}

.mat-dialog-title {
  text-align: center;
}

.mat-input-label {
  color: rgb(3, 130, 17);
}

::ng-deep.mat-form-field.mat-focused .mat-form-field-ripple{
  background-color: rgb(3, 130, 17);
}

::ng-deep .mat-checkbox-checked .mat-checkbox-background,
.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: rgb(3, 130, 17) !important;
}
