<h2 class="text-center px-2 txt-shadow">Historia Zamówień</h2>
<div *ngIf="coopOrders === undefined || coopOrders?.length === 0"
     class="text-center w-100 text-danger mt-5">Kooperant nie złożył żadnych zamówień.</div>
<div *ngIf="coopOrders !== undefined && coopOrders.length > 0">
  <div class="ms-2">
    <span class="fw-bold">Imię</span>: {{coopOrders[0]?.firstName}}<br>
    <span class="fw-bold">Nazwisko</span>: {{coopOrders[0]?.lastName}}<br>
    <span class="fw-bold">Fundusz</span>: {{coopOrders[0]?.fundValue}}%<br>
  </div>
  <div *ngFor="let orderItem of coopOrders" class="ms-2">
    <mat-accordion>
      <mat-expansion-panel (opened)="panelOpenState = true"
                           (closed)="panelOpenState = false">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Zamówienie z:
          </mat-panel-title>
          <mat-panel-description>
            {{orderItem?.orderStartDate | replace: ['T'] : ' '}}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <span class="fw-bold">Data rozpoczęcia</span>: {{orderItem?.orderStartDate | replace: ['T'] : ' '}}<br>
        <span class="fw-bold">Data zakończnia</span>: {{orderItem?.orderStopDate | replace: ['T'] : ' '}}<br>
        <span class="fw-bold">Cana całkowita zamówienia</span>: {{orderItem?.orderTotalPrice | currency: 'zł'}}<br>
        <span class="fw-bold">Cana całkowita zamówienia z funduszem</span>: {{orderItem?.orderTotalFundPrice | currency: 'zł'}}

        <div class="table-responsive p-2">
          <table mat-table [dataSource]="orderItem.coopOrderNode" class="table-striped mat-elevation-z10">
            <ng-component matColumnDef="orderId">
              <th mat-header-cell *matHeaderCellDef>ID zamówienia</th>
              <td mat-cell *matCellDef="let element">{{element.orderId}}</td>
            </ng-component>
            <ng-component matColumnDef="orderedItemId">
              <th mat-header-cell *matHeaderCellDef>ID w zamówioniu</th>
              <td mat-cell *matCellDef="let element">{{element.orderedItemId}}</td>
            </ng-component>
            <ng-component matColumnDef="productId">
              <th mat-header-cell *matHeaderCellDef>ID produktu</th>
              <td mat-cell *matCellDef="let element">{{element.productId}}</td>
            </ng-component>
            <ng-component matColumnDef="productName">
              <th mat-header-cell *matHeaderCellDef>Produkt</th>
              <td mat-cell *matCellDef="let element">{{element.productName}}</td>
            </ng-component>
            <ng-component matColumnDef="price">
              <th mat-header-cell *matHeaderCellDef>Cena</th>
              <td mat-cell *matCellDef="let element">{{element.price | currency: 'zł'}}</td>
            </ng-component>
            <ng-component matColumnDef="fundPrice">
              <th mat-header-cell *matHeaderCellDef>Cena<br>z funduszem</th>
              <td mat-cell *matCellDef="let element">{{element.fundPrice | currency: 'zł'}}</td>
            </ng-component>
            <ng-component matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>Ilość</th>
              <td mat-cell *matCellDef="let element">{{element.quantity}}</td>
            </ng-component>
            <ng-component matColumnDef="totalPrice">
              <th mat-header-cell *matHeaderCellDef>Cena<br>całkowita</th>
              <td mat-cell *matCellDef="let element">{{element.totalPrice | currency: 'zł'}}</td>
            </ng-component>
            <ng-component matColumnDef="totalFundPrice">
              <th mat-header-cell *matHeaderCellDef>Cena<br>całkowita<br>z funduszem</th>
              <td mat-cell *matCellDef="let element">{{element.totalFundPrice | currency: 'zł'}}</td>
            </ng-component>
            <ng-component matColumnDef="orderStatusName">
              <th mat-header-cell *matHeaderCellDef>Status</th>
              <td mat-cell *matCellDef="let element">{{element.orderStatusName}}</td>
            </ng-component>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
