<div class="card mb-4 box-shadow">
  <div class="edit" style="" *ngIf="visibility.set([role.ADMIN, role.KOTY])">
    <i class="far fa-edit p-1 edit" style="float: right" (click)="editProduct(product.productId)"></i>
  </div>
  <!--<img class="card-img-top" alt="Thumbnail [100%x225]" src="../../assets/img/test.png" data-holder-rendered="true" style="height: 225px; width: 100%; display: block;">-->
  <img class="card-img-top" alt="Thumbnail [100%x225]"
       [src]="(product.picture === null || product.picture === '') ? emptyImage : domain + product.picture"
       data-holder-rendered="true"
       style="height: 225px; width: 100%; display: block; cursor: pointer" [class.noimage]="(product.picture === null || product.picture === '')"
       [class.img-gray]="!available"
       (click)="openInfoDialog(product.productId)">
  <div class="card-body">
    <p class="card-text">
      {{product.productName}}
    </p>
    <div class="d-flex justify-content-between align-items-center">
      <div class="btn-group">
        <span class="badge badge-secondary badge-margin badge-price">{{product.price | currencyPln:'zł'}}</span>
        <span class="badge badge-secondary badge-margin badge-unit">{{product.unit}}</span>
      </div>
      <span class="button badge bg-primary" (click)="openDialog(product.productName, product.productId)" style="cursor: pointer" *ngIf="available && !isClosed && !product.blocked">Dodaj do koszyka</span>
      <span class="badge bg-secondary" (click)="openDialog(product.productName, product.productId)" style="cursor: not-allowed" *ngIf="!available && !isClosed && !product.blocked">Produkt niedostępny</span>
      <span class="badge bg-secondary" (click)="openDialog(product.productName, product.productId)" style="cursor: not-allowed" *ngIf="product.blocked && !isClosed">Produkt zablokowany</span>
      <span class="badge bg-secondary" (click)="openDialog(product.productName, product.productId)" style="cursor: not-allowed" *ngIf="isClosed" [matTooltip]="orderStart">Sklep zamknięty</span>
    </div>
    <div class="warning" [class.collapsed]="!(alertVisibility > 0)">
      <div class="alert alert-dismissible fade mt-3"
           [class.show]="alertVisibility > 0"
           [ngClass]="orderMakerS.errorResponse?.status === 200 ? 'alert-success' : orderMakerS.errorResponse?.status === 300 ? 'alert-warning' : 'alert-danger'"
           role="alert">
        {{orderMakerS.errorResponse?.detail}}
      </div>
    </div>
  </div>
</div>
