<h2 style="color: #0e7619">Resetowanie hasła</h2>
<p>Witaj,</p>
<p>Otrzymałeś/aś tego maila gdyż została uruchomiona procedura resetowania hasła na portalu Koop. Aby zresetować hasło kliknij na poniższy link, który przeniesie Ciebie do formularza resetowania hasła na stronie sklepu <span style="color: #0e7619; font-weight: bold">KOOP</span>:</p>

<a href="#link#">#link#</a>

<p>Pozdrawiamy,</p>
<p>Zespół <span style="color: #0e7619; font-weight: bold">KOOP</span></p>
<br>

<table style="font-size: 9pt; line-height:14px; " cellpadding="0" cellspacing="0">
  <tbody>
  <tr>
    <td colspan="2" style="padding-bottom:2px; border-top:1px dotted; border-top-color:#131313;">&nbsp;</td>
  </tr>
  <tr>
    <td style="vertical-align: middle; text-align: center; padding-right: 15px;" valign="middle">
      <a href="https://wbio.urk.edu.pl/" target="_blank" style="text-decoration: none">
        <p border="0" style="font-family: 'Times New Roman'; width: 161px; border:0; color: #0e7619; font-size: 3em; border: 0; padding: 0;">KOOP</p>
        <p border="0" style="font-family: 'Arial'; width: 161px; border:0; color: #ce1f00; font-size: 1em; border: 0; padding: 0;">EAT HEALTHY BE HEALTHY</p>
      </a>
    </td>
    <td style="color: #131313; font-family: Arial, sans-serif; vertical-align: middle; border-left: 2px solid #002ece; padding-left: 10px;" valign="middle">
      <table cellpadding="0" cellspacing="0">
        <tbody>
        <tr>
          <td style="padding:1px 3px 1px 1px; text-align: right;"><span style="font-family: Arial, sans-serif; font-weight: bold; font-size: 9pt; color: #002ece;">Kom: </span></td>
          <td><span style="font-family: Arial, sans-serif; font-size: 9pt; color: #131313;">+48 111 111 111</span></td>
        </tr>
        <tr>
          <td style="font-family: Arial, sans-serif; font-size: 9pt; color:#131313; padding:1px 3px 1px 1px; text-align: right;"><span style="font-family: Arial, sans-serif; font-weight: bold; font-size: 9pt; color: #002ece;">E-mail: </span></td>
          <td><span style="font-family: Arial, sans-serif; font-size: 9pt; color:black; color: #131313;">koop.ordercenter@gmail.com</span></td>
        </tr>
        <tr>
          <td style="color: #131313; padding:1px 3px 1px 1px; text-align: right;"><span style="font-family: Arial, sans-serif; font-weight: bold; font-size: 9pt; color: #002ece;">Adres: </span></td>
          <td><span style="font-family: Arial, sans-serif; font-size: 9pt; color:#131313;">Ul. Łędkołody 1</span></td>
        </tr>
        <tr>
          <td style="color: #131313; padding:1px 3px 1px 1px;"><span style="font-family: Arial, sans-serif; font-weight: bold; font-size: 9pt; color: #002ece;"></span></td>
          <td><span style="font-family: Arial, sans-serif; font-size: 9pt; color:#131313;">01-001 Chrząszczyrzewoszczyce</span></td>
        </tr>
        </tbody>
      </table>
    </td>
  </tr>
  <tr>
    <td colspan="2" style="padding-top:2px; border-bottom:1px dotted; border-bottom-color:#131313;">&nbsp;</td>
  </tr>
  </tbody>
</table>
