<div *ngIf="supplier | async as sup">
  <div class="container rounded mb-0">
    <form *ngIf="supplier | async as sup" [formGroup]="supplierData" (ngSubmit)="onSubmit()">
      <div class="row mb-0">

        <div class="col-md-8 border-right">
          <div class="py-0">
            <div class="d-flex justify-content-between align-items-center mb-0">
              <h2 class="text-right">Edycja dostawcy {{sup.supplierName}}</h2>
            </div>
            <div class="row mt-0">
              <div class="col-md-4">
                <div class="form-floating">
                  <input type="text" class="form-control" [class.is-invalid]="submitted && field.name.invalid && field.supplierName.touched" id="supplierName" formControlName="supplierName" placeholder="Nazwa" value="" #inName autocomplete="supplierName">
                  <label for="supplierName">Nazwa</label>
                </div>
                <div class="mb-3">
                  <div *ngIf="submitted && field.supplierName.invalid && field.supplierName.touched" class="text-danger small">
                    <div *ngIf="field.supplierName.errors.required">Nazwa jest wymagana</div>
                    <div *ngIf="field.supplierName.errors.minLength">Nazwa musi składać się z co najmniej 3 znaków</div>
<!--                    <div *ngIf="field.Name.errors.uniqueName">Nazwa dostawcy już istnieje</div>-->
                  </div>
                </div>
<!--                <mat-form-field appearance="standard">-->
<!--                  <mat-label for="supplierName">Nazwa dostawcy</mat-label>-->
<!--                  <input matInput id="supplierName" formControlName="supplierName" placeholder="Nazwa" value="" autocomplete="supplierName">-->
<!--                </mat-form-field>-->
              </div>
              <div class="col-md-4">
                <div class="form-floating">
                  <input type="text" class="form-control" [class.is-invalid]="submitted && field.supplierAbbr.invalid && field.supplierAbbr.touched" id="supplierAbbr" formControlName="supplierAbbr" value="" placeholder="Skrót" #inAbbr autocomplete="supplierAbbr">
                  <label for="supplierAbbr">Skrót</label>
                </div>
                <div class="mb-3">
                  <div *ngIf="submitted && field.supplierAbbr.invalid && field.supplierAbbr.touched" class="text-danger small">
                    <div *ngIf="field.supplierAbbr.errors.required">Skrót jest wymagany</div>
                    <div *ngIf="field.supplierAbbr.errors.minLength">Skrót musi składać się z co najmniej 3 znaków</div>
<!--                    <div *ngIf="field.abbr.errors.uniqueAbbr">Skrót już istnieje</div>-->
                  </div>
                </div>
              </div>
            </div>
            <div class="row mt-2">
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="text" class="form-control" id="phone" formControlName="phone" placeholder="Phone" value="" autocomplete="phone">
                  <label for="phone">Numer telefonu</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="email" class="form-control" id="email" [class.is-invalid]="submitted && field.email.invalid && field.email.touched" formControlName="email" placeholder="E-mail" value="" #inEmail autocomplete="email" #email>
                  <label for="email">E-mail</label>
                </div>
                <div class="mb-3">
                  <div *ngIf="submitted && field.email.invalid && field.email.touched" class="text-danger small">
                    <div *ngIf="field.email.errors.required">Adres e-mail jest wymagany</div>
<!--                    <div *ngIf="field.email.errors.email">E-mail jest nieprawidłowy</div>-->
<!--                    <div *ngIf="field.email.errors.uniqueEmail">Adres już istnieje, proszę podać inny</div>-->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <select class="custom-select form-control" id="oproFullName" [class.is-invalid]="submitted && field.oproFullName.invalid && field.oproFullName.touched" formControlName="oproFullName" autocomplete="oproFullName">
<!--                    <option selected >Wybierz...</option>-->
                    <option *ngFor="let coop of coopNames | async" [value]="coop.fullName">
                      {{coop.fullName}}
                    </option>
                  </select>
                  <label for="oproFullName">OpRo</label>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-floating">
                  <input type="number" class="form-control" id="receivables" formControlName="receivables" value="" placeholder="Stan konta" autocomplete="receivables">
                  <label for="receivables">Stan konta</label>
                </div>
              </div>

              <div class="row mt-3">
<!--                <div class="col-md-6">-->
<!--                  <div class="form-floating">-->
<!--                    <input type="orderClosingDate" class="form-control" id="orderClosingDate" formControlName="orderClosingDate" value="" placeholder="Data zamknięcia zamówienia" autocomplete="available">-->
<!--                    <label for="orderClosingDate">Data zamknięcia zamówienia</label>-->
<!--                  </div>-->
<!--                </div>-->
<!--                <mat-form-field appearance="fill">-->
<!--                  <mat-label>Wybierz datę</mat-label>-->
<!--                  <input matInput [matDatepicker]="picker">-->
<!--                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>-->
<!--                  <mat-datepicker #picker></mat-datepicker>-->
<!--                </mat-form-field>-->
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="checkbox" class="form-control" id="available" formControlName="available" value="" placeholder="Dostępny" autocomplete="available">
                    <label for="available">Dostępny</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input type="checkbox" class="form-control" id="blocked" formControlName="blocked" value="" placeholder="Zablokowany" autocomplete="blocked">
                    <label for="blocked">Zablokowany</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="p-3 py-0">
            <div class="col-md-12">
              <div class="d-flex justify-content-between align-items-center experience"><h3>Opis</h3></div>
              <div class="form-floating">
                <textarea class="form-control" id="description" formControlName="description" name="description" rows="12" placeholder="Opis..." autocomplete="description" style="height: 25vh"></textarea>
<!--                <label for="description">Wstaw opis ...</label>-->
              </div>
            </div>
          </div>
        </div>
      <div class="mt-3"><button class="btn btn-primary profile-button" type="button" (click)="onSubmit()">Zapisz</button></div>
<!--      <div class="alert alert-dismissible fade mt-3" [class.show]="alertVisibility > 0" [ngClass]="ss.errorResponse.status === 200 ? 'alert-success' : 'alert-danger'" role="alert">-->
<!--        {{ss.errorResponse.detail}}-->
<!--      </div>-->
            </div>
    </form>
  </div>
</div>

