.layout-wrapper {
 height: 100%;
}
.flex-wrapper {
  height: 100%;
}

.bg-top-bar {
  background-color: rgb(3, 130, 17);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 64px;
  z-index: -120;
}

.bg-logo-bar {
  background-color: rgb(229, 233, 236);
  position: absolute;
  width: 100%;
  height: 200px;
  top: 64px;
  left: 0;
  z-index: -120;
}

.bg-under-logo-bar {
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 30px;
  top: 264px;
  left: 0;
  z-index: -120;
}

.bg-content-bar {
  background-color: rgb(247, 248, 249);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -130;
}

.bg-bottom-bar {
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  z-index: -120;
}
