.badge-margin {
  margin-right: 3px;
  margin-left: 3px;
}

.badge-price {
  background-color: #076d00;
}

.badge-unit {
  background-color: #5b0282;
}

.badge-cart {
  background-color: #5e5e5e;
  color: #fff;
  text-decoration: none!important;
}

.badge-cart:hover {
  background-color: #3b3b3b;
  color: #fff;
  text-decoration: none!important;
}

img {
  object-fit: cover;
}

.noimage {
  object-fit: contain;
}
