<h1 mat-dialog-title>Edytuj ilości</h1>
<div mat-dialog-content>
  <mat-divider></mat-divider>
  <div class="text-center pt-2 pb-2">
    <span class="fw-bold px-2">{{data.productName}}</span>
    <mat-divider class="py-2"></mat-divider>
    <mat-form-field appearance="fill">
      <mat-label class="mat-input-label">Ilość w magazynie</mat-label>
      <input type="number" matInput [value]="data.amountInMagazine.toString()" min="0" #itemAmountInMagazine>
    </mat-form-field>
    <mat-divider class="py-2"></mat-divider>
    <mat-form-field appearance="fill">
      <mat-label class="mat-input-label">Max ilość w magazynie</mat-label>
      <input type="number" matInput [value]="data.amountMax.toString()" min="0" #itemAmountMax>
    </mat-form-field>
  </div>
  <mat-divider></mat-divider>
</div>
<div mat-dialog-actions fxLayout="row" fxLayoutAlign="center center">
  <button mat-raised-button mat-dialog-close class="cancel-button">Anuluj</button>
  <button mat-raised-button (click)="editProduct(data.productId, itemAmountInMagazine.value, itemAmountMax.value)" [mat-dialog-close]="true" color="warn">Edytuj</button>
</div>
