/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: url("./assets/img/bg-nature.jpg") repeat center 110% fixed;
  /* background: url("./assets/img/bg-nature.jpg") repeat center 110% fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  */
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;

  background-image: url("./assets/img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.txt-shadow {
  text-shadow: 2px 2px #e3dddd;
}
